body {
    margin: 0;
    padding: 0;
}

#content { 
    max-width: 100%;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;

}

nav {
    display: flex;
    justify-content: space-around;

}

nav a:hover {
    background-color: rgba(0, 172, 55, 0.728);
    color: black;
}

header {
    background-color: #000000;
    display: grid;
    grid-template-columns: 150px auto;
    
}

.logo-class {
    width: 80px;
    padding-top: 10px;
    padding-left: 10px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}


#brown-buttons {
    display: grid;
    grid-column: 1/3;
    padding-top: 100px;
    padding-left: 200px;
}

#brown-buttons p {
    grid-column: 2/3;
    grid-row: 1/4;
    padding: 50px;
}

#brown-buttons img {
    border: 10px solid rgba(0, 121, 10, 0.574);
    box-shadow: 5px 5px 10px #6f7364;
}

#black-buttons {
    display: grid;
    grid-column: 1/3;
    grid-row: 2/4;
    padding-left: 200px;
}

#black-buttons p {
    grid-column: 2/3;
    padding: 50px;
}

#black-buttons img {
    border: 10px solid rgba(0, 121, 10, 0.574);
    box-shadow: 5px 5px 10px #6f7364;
}

#hero-msg {
    display: grid;
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 50px;

}

#hero-msg p {
    grid-column: 1/2;
    color: white;
}

h1 {
    color: white;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;

}

#hero-img {
    grid-column: 1/3;
    width: 100%;

}

.button-box {
    text-align: center;
    background-color: #000000;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    width: 100px;

}

.book {
    color: white;
}


#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#google-map {
    grid-column: 2/3;
    grid-row: 4/4;
}

/*-----page 2------*/

#main2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#brown-bears-title {
    display: grid;
    grid-column: 1/4;
    grid-row: 1/4;
    color: black;
    padding: 50px;
}

#brown-bears-title h1 {
    color: black;
}

#brown-family {
    display: grid;
    grid-column: 1/4;
    grid-row: 2/4;
    padding: 50px;
}

#brown-family img {
    border: 10px solid rgba(0, 121, 10, 0.574);
    box-shadow: 5px 5px 10px #6f7364;
}

#brown-family p {
    grid-column: 3/3;
    padding: 50px;
}

#brown-size {
    display: grid;
    grid-column: 1/4;
    grid-row: 3/4;
    padding: 50px;
}

#brown-size img {
    border: 10px solid rgba(0, 121, 10, 0.574);
    box-shadow: 5px 5px 10px #6f7364;
}

#brown-size p {
    grid-column: 3/3;
    padding: 50px;
}

#brown-map { 
    grid-column: 2/3;
    grid-row: 4/4;
}

#brown-map p { 
    text-align: center;
}


footer {
    background-color:  black;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}