
#content {
    max-width: 1600px;
    margin: 0 auto;

}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;

}

nav {
    display: flex;
    justify-content: space-around;

}

#hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;

}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;

}


#hero-msg h1 {
    text-align: center;

}

#hero-msg h4 { 
    text-align: center;

}

#hero-img {
    width: 100%;

}

.button-box {
    text-align: center;

}

.card-img {
    border: 10px;
}

main section { 
    text-align: center;

}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
    
}

body {
    background-color: white;
    font-size: 22px;
    margin: 0;
    padding: 0;

}

header {
    background-color: #396E94;
    display: grid;
    grid-template-columns: 150px auto;
    
}

nav a:hover {
    background-color: white;
    color: black;
}

.book {
    background-color: #396E94;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;

}

.join {
    background-color: #396E94;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;

}

.book:hover {
    background-color: white;
    color: black;

}

.join:hover {
    background-color: white;
    color: black;

}

#background {
    background-color: #8dc2e8;

}

.msg {
    background-color: #ffeaab;
    line-height: 1.5em;
    padding: 10px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;s

}

footer {
    background-color: #ffeaab;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

footer a {
    color: white;
    text-decoration: none;

}

footer a:hover{
    color: black;
    text-decoration: underline;

}

footer p {
    font-size: 1.2em;
    text-decoration: underline;

}   

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}


.home-title {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    margin-top: 10px;

}

h4 {
    color: white;

}

h2 {
    margin: 0;
    color: black;

}

.msg h2 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;

}

.logo-class {
    width: 80px;

}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon {
    width: 80px;
    padding-top: 10px;

}

footer .social img {
    padding-top: 15px;

}

#river-cards {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
     
}

#camping-cards {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

#rapids-cards {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;

}

.mounrains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;

}


.card-img, .mounrains {
    width: 100%;
}

.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}


/*--------
page 2 for the rafting site
*/
.river-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 50px;
    color: black;
}

.river-grid h2{
    padding: 50px;
}

.river-grid img{
    width: 300px;
    border: #8dc2e8;
    border-style: solid;
    border-width: 10px;
}

.river-grid p {
    padding-top: 100px;
    text-align: center;
    margin: 75px;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}